
.scroller {
  height: 100%;
}
  .button {
    position: fixed;
    top: 28px;
    right: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-sizing:border-box;
    background: #6c6c97;
    color: #f1f1ff;
    z-index: 22;
    border: none;
    padding: 5px;
    text-align: center;
    user-select: none;
    transition: all 0.2s ease;
    cursor: pointer;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
  }
  .button.loadFile{
    right: 60px;
  }
  .button:focus {
    outline: 0px;
  }
  .button:hover {
    background: #565692;
    box-shadow: 0px 3px #414164;
    color: #e3e3ff;
  }
  .button:active {
    box-shadow: 0px 0px #69698f;
    top: 22px;
  }
  .button.isempty{
      width:100px;
      height: 100px;
      right:calc(50% - 50px);
      top:calc(40% - 180px);
      font-size: 18px;
  }
  .button.loadFile.isempty{
    top:calc(40% - 50px);
  }
  .button.title{
    top: 20px;
    right: 80px;
    background: #6c9793;
    border-radius: 5px;
    height: 30px;
  }
  .sltAttr, #modal,#loaidng{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    padding: 50px;
    text-align: center;
    box-sizing: border-box;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.9)
  }
  .sltAttr .spn{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #e3e3ff;
    border: #babad4 1px solid;
    color: #414164;
    cursor: pointer;
  }
  .sltAttr .spn:hover{
    background-color: #d6d6f5;
  }
  .jsonContent{
    margin: 5px;
    padding:5px;
    background-color: #f1e6df;
  }
  .jsonContent .title{
    color: #ff4848;
  }
  #modal input{
    height: 28px;
    width: 500px;
    margin: 2px;
    margin-right: 0;
    padding: 2px;
    border: 1px #414164 solid;
    box-sizing: border-box;
    vertical-align: middle;
  }
  #modal button{
    height: 28px;
    width: 50px;
    margin: 2px;
    margin-left: 0;
    padding: 2px;
    border: 1px #414164 solid;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: #414164;
    color: #f1f1ff;
  }
  .content{
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: auto;
  }

  .content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .content::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #666666;
  }
  .content::-webkit-scrollbar-track {
    border-radius: 8px;
    background: #eeeeee;
  }
  .table {
    width: 100%;
  }
  .table th {
    background-color: #f1f1f1;
    padding: 5px;
    margin: 0;
  }
  .table td {
    padding: 5px 0;
    padding-left: 5px;
    margin: 0;
  }
  .table tr:nth-child(odd) {
    background: #f4f4f4;
  }
  .search {
    position: fixed;
    z-index: 11;
    width: 100%;
    background-color: #f1f1ff;
    padding: 16px 150px 5px 10px;
    text-align: left;
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    border: 1px #e4e4ff solid;
  }
  .search::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .search::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #666666;
  }
  .search::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #eeeeee;
  }
  .searchInput {
    display: inline-block;
    border: 1px #ddd solid;
    margin: 2px;
    font-size: 12px;
  }
  .search input {
    height: 28px;
    width: 100px;
    margin: 0;
    padding: 2px;
    border: none;
    box-sizing: border-box;
  }
  .searchInput select {
    height: 28px;
    padding: 2px;
    margin: 0;
    border: none;
    box-sizing: border-box;
    color: #999;
    text-align: right;
    border-left: 1px #eee solid;
  }
  .reselect{
    margin: 5px 0 5px 5px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    line-height: 18px;
  }
  .reselect:hover{
    background-color: #e1e1f8;
  }
  .loading{
    width: 48px;
    height: 48px;
    display: inline-block;
    animation: loading 1s linear infinite;
    -webkit-animation: loading 1s linear infinite;
  }
  @keyframes loading
  {
    from {transform:rotate(0);-webkit-transform:rotate(0)}
    to {transform:rotate(360deg);-webkit-transform:rotate(360deg)}
  }

  @-webkit-keyframes loading 
  {
    from {transform:rotate(0);-webkit-transform:rotate(0)}
    to {transform:rotate(360deg);-webkit-transform:rotate(360deg)}
  }